* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik Bubbles', cursive;
}

a, li{
    text-decoration: none;
    color: #000;
    list-style-type: none;
}


.hero {
    width: 100%;
    min-height: 100vh;
    background: goldenrod;
}


nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 25px 0;
    font-size: 12px;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase
}

nav ul li:hover {
    border-bottom: 1px solid #fff;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.logo h1 {
    border: 3px solid #000;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
    color: goldenrod;
}


.links {
    position: absolute;
    background: #fff;
    height: 100vh;
    width: 100%;
    /*opacity: 0.9;
    */top: 0;
    right: -100%;
    text-align: left;
    z-index: 2;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

nav .fa {
    display: block;
    color: #000;
    font: 25px;
    margin: 5px 20px;
    cursor: pointer;
    background: rgb(19, 18, 18);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

nav #close-fa {
    margin: 30px 10.78%;
}


nav #close-fa {
    display: inline-block;
}

nav ul li {
    display: block;
    margin: 60px 40px;
}

.contact {
    text-align: center
}

.contact {
    margin: 10% auto;
}

.header {
    margin-bottom: 40px;
}

.contact p {
    word-spacing: 5px;
    line-height: 1.7;
    margin-bottom: 40px;
}

img {
    width: 30px;
    padding: 0 20px;
}


@media (max-width: 425px) {
    nav ul li {
        margin: 40px;
    }
}