* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik Bubbles', cursive;
}

a, li{
    text-decoration: none;
    color: #000;
    list-style-type: none;
}


.hero {
    width: 100%;
    min-height: 100vh;
    background: goldenrod;
}


nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 25px 0;
    font-size: 12px;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase
}

nav ul li:hover {
    border-bottom: 1px solid #fff;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.logo h1 {
    border: 3px solid #000;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
    color: goldenrod;
}

.project {
    margin: 50px 0;
    text-align: center;
}

.head {
    margin-bottom: 60px;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 2px solid #fff;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 10px 0;
    color: #fff;
    background: rgba(97, 80, 32, 0.527);
}

.card .one {
    grid-column: 1/2;

}

.card .two {
    grid-column: span 2/3;
}

.card .three {
    grid-column: span 3/4;
}

.card p {
    margin-bottom: 20px;
}

.mean {
    text-transform: uppercase;
    font-size: 12px;
    /* padding: 10px 0; */
    color: #fff;
}

.card a{
    color: #fff;
    border: 1px solid black;
    padding: 5px 30px;
    text-decoration: none;

    
}

.card a:hover {
    background: #fff;
    color: goldenrod;
    border: 1px solid goldenrod;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.links {
    position: absolute;
    background: #fff;
    height: 110vh;
    width: 100%;
    /*opacity: 0.9;
    */top: 0;
    right: -100%;
    text-align: left;
    z-index: 2;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

nav .fa {
    display: block;
    color: #000;
    font: 25px;
    margin: 5px 20px;
    cursor: pointer;
    background: rgb(19, 18, 18);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

nav #close-fa {
    margin: 30px 10.78%;
}


nav #close-fa {
    display: inline-block;
}

nav ul li {
    display: block;
    margin: 60px 40px;
}


@media (max-width: 425px) {
    .writeups {
        margin: 10px 0;
    }

    .writeups h1 {
        font-size: 13px;
    }

    .writeups h2 {
        font-size: 16px;
    }
    .writeups p {
        font-size: 12px
    }

    nav ul li {
        margin: 40px;
    }
}


@media (max-width: 765px) {

    section {
        margin: 0;
    }

    .card-content {
        display: grid;
        grid-template-columns: 1fr;
    }
}
